.Header {
	@include padding-vertical;

	border-bottom: 1px solid $grey;

	text-align: center;

	&__title {
		margin-bottom: 0;
	}

	&__btns {
		display: flex;
		justify-content: center;
	}

	&__btn {
		@include pica;
	}
}
